
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #92b4ec;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  align-items: center;
}

h1 {
  margin: 2rem 0;
  color: #ffffff;
  font-size: 3rem;
}

.counter-card {
  background-color: #6a67ce;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.counter-card p{
  font-size: 3rem;
  color: #fff;
}

.btn-container {
  margin: 1rem;
}

.btn-container button {
  margin: 0 12px;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #6a67ce;
  color: #fff;
  border: 2px solid #6a67ce;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-container button:hover {
  background-color: transparent;
  border: 2px solid #6a67ce;
  color: #6a67ce;
}

@media (max-width: 415px) {
  .btn-container {
    margin: 1rem 0.375rem;
  }
  .btn-container button  {
    margin: 0 4px;
    padding: 12px 20px;
  }

}
